<!doctype html>
<html>
  <head>
    <title>KV - Key Value</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="http://key-value.org/res/kv.png"/>
    <meta property="og:title" content="KV - Key Value"/>
    <meta name="description" content="Key Value Company" />
    <meta property="og:url" content="http://key-value.org/"/>
    <meta property="og:site_name" content="Key Value Company"/>
    <meta property="og:type" content="blog"/>
  </head>
  <body>
    <div class="page-wrapper">
      <a href="/" style="text-decoration: none">
        <img src="/res/kv.svg"/>
      </a>
      <br />
      <center>
        We are <b>Key Value</b> - a company of two collegues,
        making full-stack websites.
        <br/>
        With predictable deadlines, and resources.
      </center>
      <br/>

      <a href="http://key-value.org:4001/articles/2017/03/16/kv-manifest.html">Our manifesto</a>
      <br/>
      <a href="https://github.com/kv-key-value">
        Github
      </a>
    </div>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
      (function (d, w, c) {
          (w[c] = w[c] || []).push(function() {
              try {
                  w.yaCounter43625699 = new Ya.Metrika({
                      id:43625699,
                      clickmap:true,
                      trackLinks:true,
                      accurateTrackBounce:true,
                      webvisor:true
                  });
              } catch(e) { }
          });

          var n = d.getElementsByTagName("script")[0],
              s = d.createElement("script"),
              f = function () { n.parentNode.insertBefore(s, n); };
          s.type = "text/javascript";
          s.async = true;
          s.src = "https://mc.yandex.ru/metrika/watch.js";

          if (w.opera == "[object Opera]") {
              d.addEventListener("DOMContentLoaded", f, false);
          } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/43625699" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
  </body>
</html>
