<!doctype html>
<html>
  <head>
    <title>Naissur Coding | {{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:site_name" content="Naissur's Website and Blog"/>
    <meta property="og:image" content="http://en.gravatar.com/userimage/98692382/a61dda542df096983029367042bf9a19.jpg?size=200"/>
    <meta property="og:type" content="blog"/>
  </head>
  <body>
    <div class="page-wrapper">
      <a href="/" style="text-decoration: none">
        <img src="/res/kv.svg"/>
      </a>
      <br/>
      <hr />
      {{ content }}
      <br/>
      <hr />
      Interested in common business?
      <br/>
      Write me an email to <a href="mailto:vlad.aituganov@gmail.com?Subject=KV%20Business">vlad.aituganov@gmail.com</a> :)
      <br/>
    </div>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
      (function (d, w, c) {
          (w[c] = w[c] || []).push(function() {
              try {
                  w.yaCounter43625699 = new Ya.Metrika({
                      id:43625699,
                      clickmap:true,
                      trackLinks:true,
                      accurateTrackBounce:true,
                      webvisor:true
                  });
              } catch(e) { }
          });

          var n = d.getElementsByTagName("script")[0],
              s = d.createElement("script"),
              f = function () { n.parentNode.insertBefore(s, n); };
          s.type = "text/javascript";
          s.async = true;
          s.src = "https://mc.yandex.ru/metrika/watch.js";

          if (w.opera == "[object Opera]") {
              d.addEventListener("DOMContentLoaded", f, false);
          } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/43625699" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
  </body>
</html>

